@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: url("images/bg.jpg") rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  */
  background-color: white;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;

  /* #1C1120 #1D1B24 #231E2C #674638 #897456  #6B3C00 #2F4858 #A799B7 #604D53*/
}
/* .navbar .container{
    background-color: #75A196;
} */
nav{

  position: fixed;
  width: 100%;
  top: 0;
  transition: background-color, box-shadow 0.4s ease-in-out;
}
nav.scrolled{
  background-color: rgba(250, 235, 215, 0.3);
  box-shadow: 0 5px 10px #252d2d33;
  position: fixed;
  transition: background-color, box-shadow 0.4s ease-in-out;
}

.navbar-brand {
  color: #fecc02;
  font-weight: bold;
  font-family: Konga, Arial Black, sans-serif;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;

}
.logo-dish {
  color: #044389;
    transition: 0.3s ease-in-out;

  /* #006aa7 */
}
.logo-dish:hover {
      color: #fecc02; /* Change color on hover */
      transition: 0.3s ease-out;
}
.navbar-toggler{
  background-color: rgba(36, 38, 43, 0.8);
}
.navbar-brand:hover {
      color: #044389; /* Show only the word "Dish" on hover */
      transition: 0.3s ease-out;
    }
.nav-link {
  position: relative;
  color: black;

}
.navbar-nav .nav-link.active {
   color: black;
    }
.nav-link::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fecc02;
  /* #fecc02  */
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.nav-link:hover::before {
  width: 100%;
  visibility: visible;
}
.nav-link:focus::after {
  color: black;
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
  bottom: 0px; 
  background-color: #fecc02;
  height: 2px;
  /* #006aa7 */
}
/* .nav-link::after {
  content: " ";
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: #fecc02;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-link:hover::after {
  opacity: 1;
} */
.btn-primary {
  background-color: #044389;
  border: none;
  color: #fff;
}
.btn-primary:hover {
  background-color: transparent;
  border-color: #044389;
}

.hidden {
  display: none;
}
h1 {
  color: #b85269;
  /* #B53955 #B3346D #914450 #359372*/
}
.menu-section-container{
  padding: 10px;
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style-type: none;
}
footer {
    background-color: #24262b;
    color: #fff;
    padding: 70px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    height: 55%;
    width: 100%;
  }
  .menu-section-col{
    width: 25%;
    padding: 0 15px;
    text-align: left;
    /* background-color: yellow; */
  }
.menu-section-col h4{
  /* background-color: blue; */
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.menu-section-col {
        display: flex;
        flex-direction: column;
      }
.menu-section-col li a{
  margin: 0;
  padding: 0;
}

.menu-section-col li{
  /* background-color: green; */
  list-style-position: calc(-10px);
}
.menu-section-col h4::before{
  content: '';
  position: absolute;
  left: 0; 
  bottom: -10px;
  background-color: #fecc02;
  /* align-items: center; */
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.menu-section-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.menu-section-col ul li a{
  /* background-color: red; */
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
  left: 0;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.menu-section-col ul li a:hover{
  color: #ffffff;
  padding-left: 10px;
}
.menu-section-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.menu-section-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}
  footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }

   /* Section styles */
  .section {
    background-image: url('background.jpg');
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
  }
  .section.secondary {
    background-color: #f8f9fa;
    color: #333;
  }
  .section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  .section p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  .section button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
  }
@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}


.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
div{
  display: block;
  unicode-bidi: isolate;
}

/* .btn-white {
    background-color: #fff;
    color: #777;
} */


.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}